
:root {
    --bh-color: rgb(47, 78, 134);
    --gb--color: url(./imgs/unsplash.jpg)
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.bg {
    background: var(--gb--color);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
}

.formDiv {
    height: 100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.logInForm {
    min-width: 16vw;
    min-height: 52vh;
    padding: 1rem 2rem;
    position: relative;
}

.logInForm::before {
    content: '';
    background: url(imgs/_ee2f3ba7-97ac-4f59-a6fc-2a404edfd99e.jpg);
    position: absolute;
    inset: 0;
    border-radius: .6rem;
    filter: brightness(10%);
    opacity: 90%;
    backdrop-filter: blur(1rem);

}

.formHeading {
    text-align: center;
    font-size: larger;
    isolation: isolate;
    color: white;
}

.detailsSection {
    padding-bottom: 8vh;
    isolation: isolate;
    color: white;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(1rem);
}

input {
    height: 2rem;
    min-width: 100%;
    border-radius: .2rem;
    border: solid 1px rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
}

input:focus {
    box-shadow: 0.5px 0.5px 5px 0.2px rgb(36, 48, 70);
    outline: solid 1px rgb(160, 248, 29);
    border: solid 1px rgb(160, 248, 29);
}

input:hover {
    box-shadow: 0px 0px 1px 1px rgb(204, 223, 255);
}

.passwordSection {
    padding-top: 1rem;
}

a {
   padding-left: 1rem;
   color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 229, 159);
}
.buttonArea {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.3rem;
    padding-right: .9rem;
    isolation: isolate;

}

button {
    padding: 0.7rem 2rem;
    border-radius: .4rem;
    cursor: pointer;
    border: 1px solid rgb(35, 130, 255);
    background: rgb(35, 130, 255);
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1.5px;
}

button:hover {
    background: rgb(33, 116, 226);
}

button:focus {
    background: rgb(28, 95, 184);
}

.regContainer {
    flex: 1;
    padding-top: 25vh;
    background: whitesmoke;
}

.regDiv {
    flex: 1;
    background: rgba(235, 235, 235, 0.151);
    height: 40vh;
    box-shadow: 0px 0px 50px 1px rgb(207, 209, 195);
    padding-left: 5rem;
    padding-top: 1rem;
}

.regInfo {
    display: flex;
    gap: 5rem;
}

.regInfoInput {
    width: 15rem;
}

.submit {
    margin-top: 2rem;
    margin-left: 5rem;
}

